
<h1> Contact  </h1>
<p>
  <b>Email:</b>
   theknightschool@gmail.com
</p>

<p>
  <b>Address:</b>
  1091 West Creek Drive, Pittsburgh, PA, 11229
</p>

<p>
  <b>Camp Phone:</b>
  1718-565-3432
</p>

<p>
  <b>Alex Heimann:</b>
  1718-222-3444
</p>

<p>
  <b>Mark Heimann:</b>
  1718-333-2426
</p>

<p>
  <b>Daniel Shlyuger:</b>
  1718-123-2456
</p>

<p>
  <b>Cyril Figus:</b>
  1718-2345-6784
</p>
</br>
 <%= (image_tag "chessbanner.jpg", width: 800, height: 600) %>
